
	<div class="header">
		<%= image_tag("header.png", :alt => "header") %>
		<h1><i>My Blog</i></h1>
	</div>
	<div class="hr">
		
	</div>
	<div class="container">
<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        
      <% end %>
      </ul>
    </div>
  <% end %>
<table border="0" align="center" class="new_table">
	<tr>
		<td colspan="2" align="center" style="color: #FEBF33; text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;"><h2><i>New Blog</i></h2></td>
	</tr>
	<tr>
		<td><b><%= form.label :title %></b></td>
		<td><%= form.text_field :title, id: :blog_name %><span id="alert" style="font-style: bold; font-size: 12px;color: #ff1a1a; text-align: center;"><%= @blog.errors.messages[:title].first if @blog.errors.messages.include?(:title) %></span></td>
	</tr>
	<tr>
		<td><b><%= form.label :description %></b></td>
		<td><%= form.text_area :description, id: :blog_description %><span id="alert" style="font-style: bold; font-size: 12px;color: #ff1a1a; text-align: center;"><%= @blog.errors.messages[:description].first if @blog.errors.messages.include?(:description) %></span></td>
	</tr>
	<tr>
		<td><b><%= form.label :"user name" %></b></td>
		<td><%= collection_select(:blog, :user_id, @users, :id, :name, prompt: true) %><span id="alert" style="font-style: bold; font-size: 12px;color: #ff1a1a; text-align: center;"><%= @blog.errors.messages[:user_id].first if @blog.errors.messages.include?(:user_id) %></span></td>
	</tr>
	<tr>
		<td><b><%= form.label :"Image" %></b></td>
		<td><%= image_tag("dp.jpg", :alt => "blog description image") %></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center; padding-top: 30px"><%= form.submit :id => "create_new" %>&nbsp;&nbsp;&nbsp;<%= link_to 'Back' ,  blogs_path%></td>
	</tr>
</table>
</div>
<% end %>
<script type="text/javascript">
</script>
