<head>
	<script type="text/javascript">
		
	</script>
</head>
	<div class="header">
		<%= image_tag("header.png", :alt => "header") %>
		<h1><i>My Blog</i></h1>
	</div>
	<div class="hr">
		<div class="create">
				<%= link_to 'New blog', {:controller => 'blogs',:action => 'new'} %>
		</div>
		<div class="create">
				<%= link_to 'New user', {:controller => 'users', :action => 'new'} %>
		</div>
		<div class="create">
			<%= form_with(model: @user,:url => users_path,method: :get, local: true) do |form| %>
				<%= select_tag "user", options_from_collection_for_select(@userAll,:id,:name), {:prompt => "All"} %><%= form.submit "go", :id => 'change'%>
			<% end %>
		</div>
	</div>
	<div class="container">
		<% if @blog.blank? %>
			<p style="font-size: 20px;"><br>No blogs<br><br><br><br><br><br><br><br><br><br><br><br></p>
		<% else %>
		<div class="blog_list">
			<% @blog.each do |blog| %>
				<table border="0">
				<tr class="seperator">
					<td>
						<div class="dp">
							<%= image_tag("dp1.jpg", :alt => "dp") %>
						</div>
					</td>
					<td class="content" id="title"><h3><%= link_to blog.title, blog_path(blog)%></h3></td>
					<td><%= link_to "Show", blog_path(blog) %></td>
					<td><%= link_to "Delete", { :action => 'destroy', :id => blog.id}, :method => 'delete', data: { confirm: "Are you sure?" } %></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="3" class="content" style="text-indent: 30px; margin-top: 10px;"><%= (blog.description).truncate(180) %></td>
				</tr>
				<tr>
					<td colspan="4" id=read style="height: 40px">Author:<span><%= blog.user.name %></span></td>
				</tr>
				</table>
<% end %>
				<% end %>
		</div>
	</div>
